/* Add your CSS styles here */

*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

spline-viewer {
    position: absolute;
    width: fit-content;
    height: 100vh;
}
#home{
    background: #000;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    max-width: 100vw;
    overflow: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #ccc;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #fff;
}

.nav-links a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #007BFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover::before {
    visibility: visible;
    width: 100%;
}
